:root {
    --bg-color: #ffffff;
    --bg-secondary-color: #f3f3f6;
    --color-primary: #14854F;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 1440px;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: #333333;
    --font-family-sans: "LXGW WenKai", SimSun-ExtB, sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
    --globalnav-color: rgba(255, 255, 255, .8);
    --globalnav-background-color: rgba(22, 22, 23, .8);
  }

/* base */
.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
    background-color: var(--globalnav-background-color)
}
header a {
    text-decoration: none;
}
header nav a {
    color: var(--globalnav-color) !important;
}

nav {
    height: 40px;
}

nav ul {
    display: inline;
}

nav ul li {
    display: inline;
    list-style: none;
    margin: 1rem;
}

