<!DOCTYPE html>
{% macro featured_image(page) -%}
    {% if page and page.featured_image %}{{ page.featured_image }}{% else %}/static/img/2023/about-kaffa.png{% endif %}
{%- endmacro %}
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N653LWBX');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <!--
        Q1. 本站技术栈？
        A1. 本站目前版本V2，主要技术栈有 reStructuredText, Markdown, Pelican, kaffa-theme, Bulma, Github Pages

        Q2. 更多信息？
        A2. 微信公众号：Kaffa
    -->
    <meta name="author" content="Kaffa" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ SITE_URL }}/static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ SITE_URL }}/static/css/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="{{ SITE_URL }}/static/css/bulma-divider.min.css">
    <link rel="stylesheet" href="{{ SITE_URL }}/static/css/0.css">
    {% if FEED_ALL_ATOM %}
    <link
        href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
        type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link
        href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
        type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}"
        type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}"
        type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link
        href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}"
        type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link
        href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}"
        type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link
        href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}"
        type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link
        href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}"
        type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}

    {% if JAVASCRIPT_HEAD %}
    <script>
        {{ JAVASCRIPT_HEAD }}
    </script>
    {% endif %}
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N653LWBX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <nav class="navbar container is-max-widescreen" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <h1 class="navbar-item"><a href="{{ SITEURL }}/">
                        {{ SITENAME }}{% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>
                </h1>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarGlobal">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarGlobal" class="navbar-menu">
                <div class="navbar-start">
                </div>
                <div class="navbar-end">
                    {% for title, link, children in MENUITEMS %}
                    {% if children %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link has-text-grey">{{ title }}</a>
                        <div class="navbar-dropdown is-boxed">
                            {% for title2, link2 in children %}
                                {% if title2 == '-' %}
                                <hr class="navbar-divider">
                                {% else %}
                                <a class="navbar-item has-text-grey" href="{{ link2 }}">{{ title2 }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <a class="navbar-item" href="{{ link }}">{{ title }}</a>
                    {% endif %}
                    {% endfor %}
                    {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in pages %}
                    <a class="navbar-item{% if p==page %} active{% endif %}" href="{{ SITEURL }}/{{ p.url }}">{{ p.title
                        }}</a>
                    {% endfor %}
                    {% endif %}
                    {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                    <a class="navbar-item{% if cat==category %} active{% endif %}" href="{{ SITEURL }}/{{ cat.url }}">{{
                        cat }}</a>
                    {% endfor %}
                    {% endif %}
                    <!--
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary">
                            <strong>Sign up</strong>
                            </a>
                            <a class="button is-light">
                            Log in
                            </a>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </nav>
    </header>
    <main class="has-background-grey-lighter pb-4">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer is-max-widescreen">
        <div class="content has-text-centered">
            版权所有 &copy; 2018-2013 <strong><a href="{{ SITEURL }}">{{ SITENAME }}</a></strong> 诚心良品 开放质造
            <p>
                本站内容采用<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>许可证
            </p>
        </div>
    </footer>

    <div id="modal-project" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
              <p>项目明细在建设中...</p>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            /*====================
              Modal
             ====================*/

            // Functions to open and close a modal
            function openModal($el) {
                $el.classList.add('is-active');
            }

            function closeModal($el) {
                $el.classList.remove('is-active');
            }

            function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                    closeModal($modal);
                });
            }

            // Add a click event on buttons to open a specific modal
            (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
                const modal = $trigger.dataset.target;
                const $target = document.getElementById(modal);
                $trigger.addEventListener('click', () => {
                     openModal($target);
                });
            });

            // Add a click event on various child elements to close the parent modal
            (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
                const $target = $close.closest('.modal');

                $close.addEventListener('click', () => {
                    closeModal($target);
                });
            });

            // Add a keyboard event to close all modals
            document.addEventListener('keydown', (event) => {
                if (event.code === 'Escape') {
                    closeAllModals();
                }
            });

            /*====================
              navbar
             ====================*/
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });

            /*====================
              Projects
             ====================*/
            const $panelTab = Array.prototype.slice.call(document.querySelectorAll('.panel-tabs a'), 0);
            $panelTab.forEach(el => {
                el.addEventListener('click', () => {
                    const $siblings = el.parentNode.children;
                    for (let i = 0; i < $siblings.length; i++) {
                        $siblings[i].classList.remove('is-active');
                    }
                    el.classList.add('is-active');

                    if (el.title == 'all') {
                        const $panelBlock = document.querySelectorAll(".panel-block");
                        for (let i = 0; i < $panelBlock.length; i++) {
                            $panelBlock[i].classList.remove("is-hidden");
                        }
                    } else {
                        const $panelBlock = document.querySelectorAll(".panel-block");
                        for (let i = 0; i < $panelBlock.length; i++) {
                            $panelBlock[i].classList.add("is-hidden");
                        }

                        const $targetPanelBlock = document.querySelectorAll(".panel-block.panel-" + el.title);
                        for (let i = 0; i < $targetPanelBlock.length; i++) {
                            $targetPanelBlock[i].classList.remove("is-hidden");
                        }
                    }
                });
            });

            /*====================
              Email
             ====================*/
            const $email = Array.prototype.slice.call(document.querySelectorAll('email'), 0);
            $email.forEach(el => {
                el.innerText = ['admin', '@', 'kaffa.im'].join('');
            });

            /*====================
              Table
            ====================*/
            var altKeyPressed = false;

            document.addEventListener('keydown', function(event) {
                if (event.key === 'Alt' && !altKeyPressed) {
                    event.preventDefault();
                    altKeyPressed = true;
                    var rows = document.querySelectorAll('.alt');
                    rows.forEach(function(row) {
                        row.style.display = 'table-row';
                    });
                }
            });

            document.addEventListener('keyup', function(event) {
                if (event.key === 'Alt' && altKeyPressed) {
                    event.preventDefault();
                    altKeyPressed = false;
                    var rows = document.querySelectorAll('.alt');
                    rows.forEach(function(row) {
                        row.style.display = 'none';
                    });
                }
            });
        });
    </script>
    {% if JAVASCRIPT_FOOT %}
    <script>
        {{ JAVASCRIPT_FOOT }}
    </script>
    {% endif %}
</body>
</html>
