{% extends "base.html" %}
{% block content %}

{% set ns = namespace() %}

{% set ns.note_num = 0 %}

{% set ns.article_num = 0 %}
{% set ns.software_num = 0 %}
{% set ns.weekly_num = 0 %}
{% set ns.book_list_num = 0 %}

{% set ns.book_num = 0 %}
{% set ns.movie_num = 0 %}
{% set ns.music_num = 0 %}
{% set ns.things_num = 0 %}

{% for category, articles in categories|sort %}
{% for article in articles %}

{% if category in ('website', 'reading', 'digital',) %}
{% set ns.note_num = ns.note_num + 1 %}

{% elif category == 'article' %}
{% set ns.article_num = ns.article_num + 1 %}
{% elif category == 'software' %}
{% set ns.software_num = ns.software_num + 1 %}
{% elif category == 'weekly' %}
{% set ns.weekly_num = ns.weekly_num + 1 %}
{% elif category == 'book-list' %}
{% set ns.book_list_num = ns.book_list_num + 1 %}

{% elif category == 'book' %}
{% set ns.book_num = ns.book_num + 1 %}
{% elif category == 'movie' %}
{% set ns.movie_num = ns.movie_num + 1 %}
{% elif category == 'music' %}
{% set ns.music_num = ns.music_num + 1 %}
{% elif category == 'things' %}
{% set ns.things_num = ns.things_num + 1 %}

{% endif %}

{% endfor %}
{% endfor %}

{% set moments_num = ns.note_num
+ ns.article_num
+ ns.software_num
+ ns.weekly_num
+ ns.book_list_num
+ ns.book_num
+ ns.movie_num
+ ns.music_num
+ ns.things_num
%}

<section class="hero has-background-white" style="min-height: 400px; box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);">
    <div class="hero-body">
        <h2 class="title is-family-primary is-max-desktop is-size-4 has-text-centered is-italic author_name mt-5">
            <figure class="image is-64x64 has-text-centered" style="margin: auto;">
                <img class="is-rounded" src="{{ AVATAR_URL }}" alt="avatar">
            </figure>
            {{ AUTHOR_NAME }}</h2>
        <p class="is-size-6 has-text-centered has-text-grey mt-3">{{ AUTHOR_INTRO }}</p>
        <div class="container is-max-desktop">
            <div class="is-divider" data-content="North"></div>
        </div>
        <nav class="level is-mobile container is-max-desktop">
            <div class="level-item has-text-centered">
                <div>
                    <p class="title">{{ PROJECTS|count }}</p>
                    <p class="heading">项目</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="title">{{ moments_num }}</p>
                    <p class="heading">动态</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="title">{{ LINKS|count }}</p>
                    <p class="heading">关注</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="title">{{ FRIENDS|count }}</p>
                    <p class="heading">友链</p>
                </div>
            </div>
        </nav>
    </div>
</section>

<div class="container is-max-widescreen mt-4">
    <div class="columns is-variable is-2">
        <div class="column is-3">
            <section class="box">
                <h3>推荐订阅</h3>
                <div class="card mt-4">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-5"><a
                                    href="https://xiaobot.net/p/2bfree?refer=20ca5446-77f3-4250-b173-511673f42818">「欧雷」的专栏</a>
                                </p>
                                <p class="subtitle is-6">——破局之路</p>
                            </div>
                        </div>

                        <div class="content">
                            <p>『在可言说的范围内尽量用简单的语言详细地记述雷叔如何突破 35
                                周岁中年失业困境并实现自己理想生活方式的。』</p>
                            <a class="tag" href="#">人生</a> <a class="tag" href="#">职业规划</a><br>
                            <time datetime="2023-8-19">2023-8-19</time>
                        </div>
                    </div>
                </div>
            </section>
            <section class="box">
                <h3>项目</h3>
                <nav class="panel mt-3">
                    <p class="panel-tabs">
                        <a title="all" class="is-active">所有</a>
                        <a title="doing">进行中</a>
                        <a title="done">完成</a>
                        <a title="ready">未开始</a>
                    </p>
                    {% for p in PROJECTS %}
                    <a class="panel-block is-active panel-{{ p.Status }}">
                        <div style="width: 100%;">
                            <strong>{{ p.Name }}</strong>
                            <strong class="is-pulled-right">{{ 100 * p.Completion }}%</strong>
                            <p class="subtitle is-7">{{ p.Mantra }}</p>
                            <progress class="progress is-small" value="{{ 100 * p.Completion }}" max="100"
                                      style="width: auto;">{{ 100 * p.Completion }}%
                            </progress>
                        </div>
                    </a>
                    {% endfor %}
                </nav>
            </section>
        </div>

        <div class="column is-6">
            {% for article in articles_page.object_list %}
            <section class="box">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img class="is-rounded" src="{{ AVATAR_URL }}" alt="avatar">
                        </figure>
                    </div>
                    <div class="media-content">
                        <address>
                            {% for author in article.authors %}
                            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                            {% endfor %}
                        </address>
                        <div class="block is-size-7">
                            <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
                            {{ CATEGORY_DICT[article.category]['moment'] }}
                        </div>
                    </div>
                </div>
                <div class="block is-size-6 mx-2 my-2">
                    {{ article.summary }}
                </div>
                <div class="media box has-background-light">
                    <div class="media-content">
                        <article>
                            <h2 class="title is-6">
                                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                                   title="「{{ article.title|striptags }}」的永久链接">{{ article.title }}</a>
                            </h2>
                            <div class="is-size-7">
                                {% if article.subject is defined  %}
                                    {{ article.subject.brief|truncate }}
                                {% endif %}
                            </div>
                        </article>
                    </div>
                    {% if article.subject -%}
                    <div class="media-right">
                        <figure class="image" style="max-width: 96px">
                            <img src="{{ article.subject.cover_relative_path }}" alt="cover_image">
                        </figure>
                    </div>
                    {%- elif article.image and article.image != '/static/img/2023/about-kaffa.png' -%}
                    <div class="media-right">
                        <figure class="image" style="max-width: 96px">
                            <img src="{{ article.image }}" alt="cover_image">
                        </figure>
                    </div>
                    {%- endif %}
                </div>
            </section>
            {% endfor %}
            {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
            {% endif %}
        </div>

        <div class="column is-3">

            <section class="box">
                <h3>分类法</h3>
                <div class="is-divider" data-content="Categories"></div>
                <ul>
                    {% for sorted_category in CATEGORY_DICT.keys() %}
                        {% for category, articles in categories %}
                            {% if sorted_category==category %}
                            <li><a href="{{ SITEURL }}/{{ category.url }}">{{ CATEGORY_DICT[category]['name'] }}</a> ({{ articles|count }})</li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
                <div class="is-divider" data-content="Tags"></div>
                <div class="tags">
                    {% for tag, articles in tags|sort_by_article_count %}
                        {%- if loop.index <= 20 -%}
                        <span class="tag"><a href="{{ SITEURL }}/{{ tag.url }}" title="{{ articles|count }}">{{ tag }}</a></span>
                        {%- endif -%}
                    {% endfor %}
                    <span class="tag is-primary is-light"><a href="{{ SITEURL }}/tags.html" title="All Tags">更多 ...</a></span>
                </div>
            </section>
            <section class="box">
                <h3>动态小计</h3>
                <div class="is-divider" data-content="Notes"></div>
                <p class="is-size-6 has-text-grey"><i class="fa fa-sticky-note-o mr-3" aria-hidden="true"></i>记录
                    <strong>{{ ns.note_num }}</strong> 条笔记</p>
                <p class="is-size-6 has-text-grey"><i class="fa fa-file-text-o mr-3" aria-hidden="true"></i>创作
                    <strong>{{ ns.article_num }}</strong> 篇文章</p>
                <p class="is-size-6 has-text-grey"><i class="fa fa-code mr-3" aria-hidden="true"></i>使用 <strong>{{
                    ns.software_num }}</strong> 个软件</p>
                <p class="is-size-6 has-text-grey"><i class="fa fa-life-ring mr-3" aria-hidden="true"></i>汇报 <strong>{{
                    ns.weekly_num }}</strong> 次周报</p>
                <p class="is-size-6 has-text-grey"><i class="fa fa-list mr-3" aria-hidden="true"></i>精选 <strong>{{
                    ns.book_list_num }}</strong> 款书单</p>
                <div class="is-divider" data-content="Life Stream"></div>
                <p class="is-size-6 has-text-grey"><i class="fa fa-book mr-3" aria-hidden="true"></i>阅读 <strong>{{
                    ns.book_num }}</strong> 本书籍</p>
                <p class="is-size-6 has-text-grey"><i class="fa fa-video-camera mr-3" aria-hidden="true"></i>观赏
                    <strong>{{ ns.movie_num }}</strong> 部电影</p>
                <p class="is-size-6 has-text-grey"><i class="fa fa-music mr-3" aria-hidden="true"></i>收藏 <strong>{{
                    ns.music_num }}</strong> 首音乐</p>
                <p class="is-size-6 has-text-grey"><i class="fa fa-asterisk mr-3" aria-hidden="true"></i>标记 <strong>{{
                    ns.things_num }}</strong> 个物品</p>
                <div class="is-divider" data-content="Links"></div>
                <p class="is-size-6 has-text-grey"><i class="fa fa-heart-o mr-3" aria-hidden="true"></i>添加 <strong>{{
                    LINKS|count }}</strong> 条关注</p>
                <p class="is-size-6 has-text-grey"><i class="fa fa-user-o mr-3" aria-hidden="true"></i>新增 <strong>{{
                    FRIENDS|count }}</strong> 条友链</p>
            </section>

            {% if FRIENDS|count > 0 %}
            <section class="box">
                <h3>友链</h3>
                <aside class="menu mt-3">
                    <ul>
                        {% for friend in FRIENDS %}
                        <li>
                            <a target="_blank" href="{{ friend.URL }}" title="{{ friend.Intro }}">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-48x48">
                                                    <img src="{{ friend.Icon }}" alt="{{ friend.Name }}">
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-6">{{ friend.Name }}</p>
                                                <p class="subtitle is-7">{{ friend.Owner }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </aside>
            </section>
            {% endif %}

            {% if LINKS|count > 0 %}
            <section class="box">
                <h3>链接</h3>
                <aside class="menu mt-3">
                    <p class="menu-label">关注</p>
                    <ul class="menu-list">
                        {% for link in LINKS %}
                        <li><a target="_blank" href="{{ link[1] }}">{{ link[0] }}</a></li>
                        {% endfor %}
                    </ul>
                </aside>
            </section>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
