:root {
    /*
    --bg-color: #ffffff;
    --bg-secondary-color: #f3f3f6;
    --color-primary: #14854F;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 1440px;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: #333333;
    --font-family-sans: "LXGW WenKai", SimSun-ExtB, sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
    */
    --color-kaffa-gray: #f4f4f4;
    --color-yinbai: #e9e7ef;
    --color--xuebai: #f0fcff;
    --color--yuebai: #D6ECF0;
    --globalnav-color: hsl(0, 0%, 39%);
    --globalnav-background-color: rgba(255, 255, 255, .8);

}
.has-background-yinbai {
    background-color: var(--color--yinbai) !important;
}
.has-background-xuebai {
    background-color: var(--color--xuebai) !important;
}
.has-background-yuebai {
    background-color: var(--color--yuebai) !important;
}
.is-size-67 {
  font-size: 0.875rem !important;
}
.strike {
  text-decoration: line-through;
}
.content li+li {
    margin-top: 1rem;
}

.box:not(:last-child) {
    margin-bottom: 1rem;
}
body > header {
    border-bottom: solid 1px #ccc;
    background-color: var(--color-kaffa-gray);
}

body > header > nav {
    background-color: var(--color-kaffa-gray) !important;
}

.navbar-brand a,
.navbar-brand a:visited {
    font-family: Georgia !important;
    font-size: 2rem !important;
    font-weight: bold !important;
    text-shadow: 1px 1px #fff;
    color: #333 !important;
}

.navbar-link:not(.is-arrowless)::after {
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-color: var(--globalnav-color);
}

.author_name {
    font-family: Georgia !important;
}

@font-face {
    font-family: "TimesNewRoman";
    font-size: 1.2rem;
    src: local("Times New Roman");
    unicode-range: U+2018, U+2019, U+201c, U+201d;
}

@font-face {
    font-family: "Times";
    font-size: 1.2rem;
    src: local("Times");
    unicode-range: U+2018, U+2019, U+201c, U+201d;
}

.content {
    font-family: TimesNewRoman, Times, BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}

article section.hero a,
article section.hero a:visited {
    color: var(--color--xuebai);
}

article section.content p {
    text-indent: 2rem !important;
}

article section.content .box p,
article section.content .notification p,
article section.content td p {
    text-indent: 0 !important;
}

.box {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}

section > h3 {
    padding: 0 0 0 .5rem;
    border-left: 3px solid #666;
}

.content .section {
    padding: 2rem 0 0 0;
}

.book-cover {
    box-shadow: 0px 0px 5px rgba(0,0,0,.2);
}

.book-cover:hover {
    transform: rotateY(-10deg);
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}
.progress.is-small {
    height: .4rem;
}


