{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME|striptags }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
<article>
    <section class="hero" style="
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('{{ featured_image(page) }}')">
        <div class="hero-body">
            <h2 class="title is-family-primary is-max-desktop has-text-white is-size-1 has-text-centered"
                style="margin-top: calc(247px - 1rem - 3rem); text-shadow: 1px 1px 2px var(--c-title-shadow);"
            >{{ page.title }}</h2>
        </div>
    </section>
    <section class="container is-max-desktop box content mt-4 p-6">
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(page) }}
        {{ page.content }}
        {% if page.modified %}
        <span class="has-text-grey-lighter">最后修改: {{ page.locale_modified }}</span>
        {% endif %}
    </section>
</article>
{% endblock %}
